body {
    background-color: #1e1e2e;
}

.spots-browser {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
    background-color: #1e1e2e; /* Dark background inspired by Dandadan's tone */
    color: #f8f8f2; /* Light text for contrast */
}

.spot-container {
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    /* padding: 10px; */
    /* position: relative; */
}

.spot-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff79c6; /* Glow effect */
}

.spot-image {
    width: 100%;
    height: 180px; /* Adjust height as needed */
    object-fit: cover;
    display: block;
}

.spot-details {
    padding: 10px;
    /* background-color: #181825; */
    background-color: #14141d;

}

.spot-details-inside-container {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.spot-location {
    /* font-size: 1rem; */
    font-size: 1.09rem;
    margin-bottom: 5px;
    color: #f8f8f2;
    max-width: 135px; /* Adjust the width as needed */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.spot-price {
    font-size: 1rem;
    color: #ffb86c;
    margin-bottom: 5px;
    margin-top: 2px;
}


.spot-rating {
    font-size: 1rem;
    color: #50fa7b; /* Green for rating */
}

.bold-price {
    font-weight: bold;
}

.new {
    color: yellow;
    /* margin-bottom: -10px; */
}
