.hidden {
    display: none;
}

h1 {
    color: #ff79c6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    transition: color 0.3s, transform 0.3s;
}

h1:hover {
    color: #f8f8f2;
    transform: scale(1.05);
}

.navigation {
    background-color: #1e1e2e;
    padding: 10px 20px 0px 20px;
    border-bottom: 1px solid #ddd;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo-item {
    margin-right: auto;
}

.logo {
    height: 50px;
    cursor: pointer;
}

/* .nav-list li {
    margin-left: 20px;
} */

.nav-list a {
    text-decoration: none;
    color: #f8f8f2;
    font-size: 1.2rem;
    transition: color 0.3s, transform 0.3s;
    /* padding-right: 5px; */
}

.nav-list a:hover {
    color: #ff79c6;
    transform: scale(1.1);
}

/* .nav-list a.active {
    color: #ff79c6;
    font-weight: bold;
    border-bottom: 2px solid;
} */
