.profile-dropdown {
    position: absolute;
    right: 1%;
    top: 10%;
    /* background-color: white; */
    background-color: #1e1e2e; /* Dark purple/black background */
    /* border: 1px solid #44475a; */
    border: 1px solid #ddd;
    border-radius: 4px;
    list-style: none;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #f8f8f2; /* Light text */
}

.alien {
color: #ff385c;
}

.profile-dropdown.hidden {
    display: none;
}

.profile-dropdown li {
    margin: 5px 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 5px;
}

button:hover {
    color: #ff385c; /* Example hover color */
}

.nav-link-active {
    font-weight: bold;
    color: #ff385c;
}
