.profile-dropdown {
    position: absolute;
    right: 27px;
    width: 175px;
    top: 85px;
    background-color: #1e1e2e;
    border: 1px solid #44475a;
    border-radius: 8px;
    list-style: none;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #f8f8f2;
    text-align: left;
}

.profile-dropdown.hidden {
    display: none;
}

.profile-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #f8f8f2;
    font-weight: normal;
    padding: 5px 0;
    text-align: left;
    pointer-events: none;
    background-color: transparent;
}

.profile-dropdown li {
    padding: 5px 0;
    font-size: 1rem;
    text-align: left;
    font-weight: normal;
}

.profile-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85px;
    height: 40px;
    background-color: #1e1e2e;
    border-radius: 20px;
    border: 1px solid #44475a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: -20px;
}

.profile-button-container:hover {
    box-shadow: 0 0 15px #ff79c6;
}

.menu-icon {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-icon div {
    width: 18px;
    height: 2px;
    background-color: #f8f8f2;
    margin: 2px 0;
    transition: background-color 0.2s ease-in-out;
}

.profile-button-container:hover .menu-icon div {
    background-color: #ff79c6;
}

button {
    padding: 0;
    padding-inline: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #f8f8f2;
}

button:hover {
    color: #ff385c;
}

.nav-link-active {
    font-weight: bold;
    color: #ff385c;
}

.profile-icon {
    color: #ff79c6;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* .nav-list li { */
    /* margin-left: 25px; */
    /* moves heading to the right */
/* } */

.nav-list a {
    text-decoration: none;
    color: #f8f8f2;
    font-size: 1.2rem;
    transition: color 0.3s;
    /* margin-bottom: -20px; */
}

.profile-dropdown li:last-child button {
    text-align: left;
    padding-left: 0;
}

.profile-dropdown li a {
    font-weight: normal;
}

.profile-dropdown li a:hover {
    color: #ff385c !important;
    text-decoration: none;
}
